atomicwrites==1.4.0
attrs==20.3.0
certifi==2022.12.7
chardet==4.0.0
colorama==0.4.4
idna==2.10
iniconfig==1.1.1
numpy==1.22.3
packaging==20.8
Pillow==9.0.1
pluggy==0.13.1
praw==7.1.0
prawcore==1.5.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
PyYAML==5.4
requests==2.31.0
six==1.15.0
toml==0.10.2
update-checker==0.18.0
urllib3==1.26.5
websocket-client==0.57.0
